.marker {
    background: #888;
    width: 22px;
    height: 22px;
    border-radius: 50%;
    text-align: center;
    color: #fff;
}

.marker:hover {
    background: #ffbf00;
    color: #000;
}
.navbar-dark .navbar-nav .nav-link:hover {
    color: #ffbf00;
}

.dropdown-item:focus,
.dropdown-item:hover {
    color: #ffbf00 !important;
    background-color: rgba(48, 38, 38, 0);
}

.vert_clair {
    background-color: #1b998b !important;
}

.vert_foncé {
    background-color: #264722 !important;
}

.border_vert_foncé {
    background-color: #264722 !important;
}

.border_vert_clair {
    border: 1px solid #1b998b !important;
}

.card {
    border: 1px solid #1b998b !important;
}

.bouton {
    background-color: #264722 !important;
    opacity: 1;
}

.bouton:hover {
    color: #ffbf00 !important;
    opacity: 1;
}

.btn-outline-primary {
    border-color: rgba(48, 38, 38, 0) !important;
}

.border0 {
    border: none !important;
}

.btn-outline-primary:hover {
    color: #fff;
    background-color: #1b998b;
}

.btnhover {
    background-color: #1b998b !important;
    border: none !important;
    color: #000 !important;
}

.btnhover:hover {
    border: none !important;
    color: rgb(255, 255, 255) !important;
}

.btn-success {
    background-color: #264722 !important;
    border: none !important;
    opacity: 1 !important;
}
.ratio_img {
    aspect-ratio: 16/9 !important;
    width: 100%;
    transition: transform 0.2s; /* Animation */
}
.ratio_img:hover {
    transform: scale(1.05) !important;
}
