*{
    margin: 0;
    padding: 0;
}

.marker {
    background: #888;
    width: 22px;
    height: 22px;
    border-radius: 50%;
    text-align: center;
    color: #fff;
}
.marker:hover {
    background: #ff0;
    color: #000;
}
/* .info-box {
    position: absolute;
    width: 100%;
    height: 100%;
    overflow-y: scroll;
} */

/* ####################### footer greg ########################## */

body{
    display: flex;
    flex-direction: column;
}
/* contenu au dessus du du footer doit prendre tte la place donc il doit avoir un grow 1 */

/* .div dessus footer{
    1:grow 0:shrink auto: 
    flex: 1 0 auto;
} */
.contenu{
    flex: 1 0 auto;
}
footer{
    flex-shrink: 0;
    border-top: 1px solid #FFBF00;
    width: 100%;
    background-color: #1A1F16;
    color: #FFBF00;


}
.contenufooter{
    width: auto;
    margin: 0 ;
    display: flex;
    align-items: flex-start;
    font-size: 20px;
    padding: 10px;
    flex-wrap: nowrap;
    justify-content: space-around;
}

.bloc{
    width: auto;
    margin: 30px;

}
 .footer-contact h3,
 .footer-reso h3,
 .footer-name h3{
     font-size: 25px;
     padding-bottom: 20px;
     font-family: 'Roboto';
 }

 .name,
 .reso,
 .contact{
     list-style-type: none;

 }
 .footer-contact,
 .footer-reso,
 .footer-name{
     justify-content: flex-start;
     margin-left: 0;
 }
